body {
	padding: 75px;
	/*background-color: rgba(31, 158, 154, 0.33)*/;
  background-color: #0000;
}


.landing {
  bottom: 0;
  height: 100vh;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0;
}

.navigation {
  bottom: 0;
  height: 60px;
  width: 90%;
  position: absolute;
  }

hr {
    border: none;
    color: rgba(31, 158, 154, 0.33);
    text-align: center;
    height: 5px;
}


/* Add a black background color to the top navigation */
.nav {
  /* background-color: #333; */
  overflow: hidden;
  font-family: 'Ropa Sans', sans-serif;
  fill: rgba(31, 158, 154, 0.33);
  stroke: #6699cc;
	font-size: 30px;
  letter-spacing: 5px;
  display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;

}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: #6699cc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ffda00;
  color: white;
}

.text {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 64px;
	font-style: italic;
  /*
  display: flex;
  flex-direction: row;
  grid-row-gap: 20px;
  */
}

.one {
	color: #61A3A5;
	opacity: 0.05;
  transition: all 0.8s ease;
}

.one:hover {
  background: #9e9a1f;
  -webkit-background-clip: text;
  background-position: 0 100%;
  opacity: 1;
  cursor: url('assets/imgs/ColoredMicrophone-05.png'), auto, height;
}

.two {
	color: #9e9a1f;
	opacity: 0.05;
  transition: all 0.8s ease;
}

.two:hover {
  background: #9e9a1f;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
}


.three {
	color: #9a1f9e;
	opacity: 0.05;
	-webkit-background-clip: text;
  transition: all 0.8s ease;
}


.three:hover {
  background: #9a1f9e;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
}

.four {
  color: #61A3A5;
  opacity: 0.05;
  transition: all 0.8s ease;
}

.four:hover {
  background: #9e9a1f;
  -webkit-background-clip: text;
  background-position: 0 100%;
  opacity: 1;
  cursor: pointer;
}

/*
.volume {
	position: relative;
	float: left;
}

*/

.cactus {
        cursor: url("/uploads/media/default/0001/02/ea8020fd3fdb96affa77c8164f80d88f8c419e0f.png"), auto;
      }

