body {
	padding: 75px;
	background-color: rgba(31, 158, 154, 0.2);
}

.prompt {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 64px;
}

.container {
  /*
	display: flex;
	flex-direction: row;
	align-content: space-evenly;
	justify-content: space-between;
	column-gap: 30px;
  */
  width: 600px;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
}

.circle {
      border-radius: 50%;
      background-color: deepskyblue;
      width: 150px;
      height: 150px;
      position: absolute;
      opacity: 0;
      animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    }

     .item {
      z-index: 100;
      padding: 5px;
    }

/*
.testcircle{
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 300px;
  width: 300px;
  transform: scale(3);
  animation: pulse-black 5s infinite;
}
*/

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
  /*
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  */
}